
<div class="body">
<!-- <app-databinding></app-databinding> -->
<!-- <app-assignment1></app-assignment1> -->
<!-- <app-directives></app-directives> -->

<!-- <app-assignment2></app-assignment2> -->
<!-- <app-productlist></app-productlist> -->

<!-- <app-assignment3></app-assignment3> -->

<!-- <app-assignment4></app-assignment4> -->

<!-- <app-pipesdemo></app-pipesdemo> -->

<!-- <app-assignment5></app-assignment5> -->
<!-- <app-employeecrud></app-employeecrud> -->
 <!-- <app-employee></app-employee> -->

<!-- <app-parent-demo></app-parent-demo> -->
 <!-- <app-http-demo1> </app-http-demo1> -->
 <!-- <app-user-crud></app-user-crud> -->
  <!-- <app-stocks></app-stocks> -->
   <!-- <app-obervable-demo2></app-obervable-demo2> -->

   <!-- <app-employee-list></app-employee-list>
   <app-employee-add></app-employee-add> -->
<!-- <app-form-demo1></app-form-demo1> -->
<!-- <app-template-form-demo1></app-template-form-demo1> -->
 <!-- <app-model-form-demo1></app-model-form-demo1> -->
  <!-- <app-dynamic-form></app-dynamic-form> -->
 <!-- <app-assignment-forms></app-assignment-forms> -->
   <!-- <app-exam></app-exam> -->

   <router-outlet></router-outlet>
</div>
